{% extends 'base_layout.html' %}
{% load static from staticfiles %}


{% block content %}
{% if empty %}

<h2>{{ empty_message }}</h2>

{% else %}
<head>
  <meta charset="utf-8">
  <title>Basket</title>
  <link rel="stylesheet" href="{% static 'basket/basket-page.css' %}">
</head>
<div class="heading-basket">
  <h1>Your Basket</h1>
</div>


<div class="col-sm-8 col-sm-offset-2">


<table class="table">
  <tr>
    <th>Product</th>
    <th>Sainsburys Price</th>
    <th>Quantity</th>
    <th></th>
  </tr>
  {% for item in basket.basketitem_set.all %}

  <tr>
    <td>{{item.product.name}}</td>
    <td>{{item.product.price_sainsburys}}</td>
    <td>{{item.quantity}}</td>
    <td><a href="{% url 'basket:update' item.product.slug %}?quantity=0">Remove</a></td>
  </tr>
  {% endfor %}
  <tfoot>
    <td></td>
    <td></td>
    <td></td>
    <td>Total: {{basket.total}}</td>
  </tfoot>
</table>

</div>
{% endif %}
<li><a href="{% url 'products:main' %}" class="back-to-products">Back to Products</a></li>
{% endblock %}
