.Categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.category {
  background: #d5e4f2;
  padding: 10px;
  border: 2px solid #a8b1ba;
  border-radius: 3px;
}

.thumbnails{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
}

.Categories a{
  text-decoration: none;
}

.Categories h5{
  text-align: center;
  color: #090b17;
}



#https://www.w3schools.com/css/css3_buttons.asp
