{% extends 'base_layout.html' %}
{% load static %}

{% block content %}
  <head>
    <meta charset="utf-8">
    <title>Categories</title>
    <link rel="stylesheet" href="{% static 'products/categories-page.css '%}">
  </head>
  <h1>Categories</h1>
  <div class="Categories">

    {% for category in categories %}
      <div class="category">
        <a href="{{category.get_absolute_url}}"><img src="{{category.thumbnail.url}}" class="thumbnails"></a>
        <h5><a href="{{category.get_absolute_url}}" class="category-name">{{category.name}}</a></h5>

      </div>
    {% endfor %}
  </div>
{% endblock %}
