{% extends 'base_layout.html' %}
{% load static %}

{% block content %}
<head>
  <meta charset="utf-8">
  <title>Products</title>
  <link rel="stylesheet" href="{% static 'products/products-page.css' %}">
</head>

  <h1>All Products</h1>
  <div class="Products">

    {% for product in products %}
      <div class="product">
        <img src="{{product.thumbnail.url}}" class="thumbnails">
        <h5>{{product.name}}</h5>
          <span class="Tesco">Tesco:</span>
            <span class="product-price"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               £{{product.price_tesco}}</span><br>
          <span class="Sainsburys">Sainsburys:</span>
            <span class="product-price"> &nbsp; £{{product.price_sainsburys}}</span><br>
          <span class="Morrisons">Morrisons:</span>
            <span class="product-price"> &nbsp;&nbsp;&nbsp;
               £{{product.price_morrisons}}</span><br>
        <br>
        <form class="attibute-qty" action="{% url 'basket:update' product.slug %}" method="GET">
          <span class="units-qty">Quantity: </span><input type="number" name="quantity" placeholder="1" min="1" max="8" oninput="this.value = Math.abs(this.value)">
          <button type="submit" class="btn-add-to-basket"><span>Add to Basket</span></button>
        </form>
      </div>
    {% endfor %}
  </div>
{% endblock %}
